<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img
      src="./assets/dist/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Abonando Ando</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar" id="sidebar-container">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="bi bi-house-fill pl-1 pr-1"></i>
            <p>INICIO</p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/clientes" class="nav-link">
            <i class="bi bi-people-fill pl-1 pr-1"></i>
            <p>CLIENTES</p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/operaciones" class="nav-link">
            <i class="bi bi-file-earmark-diff-fill pl-1 pr-1"></i>
            <p>OPERACIONES</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/comprobantes" class="nav-link">
            <i class="bi bi-folder-symlink-fill pl-1 pr-1"></i>
            <p>COMPROBANTES</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/reportes" class="nav-link">
            <i class="bi bi-clipboard2-data-fill pl-1 pr-1"></i>
            <p>REPORTES</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
