<div class="container-fluid login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="login-logo">
      <a href="/">
        <img
          src="./assets/dist/img/AdminLTELogo.png"
          alt="AdminLTE Logo"
          class="brand-image img-circle elevation-3 mb-3"
          style="opacity: 0.8"
        />
      </a>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Iniciar sesión para continuar</p>

        <form action="../../index3.html" method="post">
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              required
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Contraseña"
              required
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" />
                <label class="pl-2" for="remember">
                  Mantener sesión iniciada
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-secondary btn-block">
                Aceptar
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center mb-3">
          <p>- Ó -</p>
          <a href="#" class="btn btn-block btn-danger">
            <i class="bi bi-google mr-2"></i> Iniciar sesión con Google
          </a>
          <a href="#" class="btn btn-block btn-primary">
            <i class="bi bi-facebook mr-2"></i> Iniciar sesión con Facebook
          </a>
        </div>
        <!-- /.social-auth-links -->

        <div class="text-right mt-5">
          <p class="mb-1">
            <a href="/">Olvidé mi contraseña</a>
          </p>
        </div>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
</div>
