<div class="container-fluid card">
  <div class="m-2 p-2">
    <div class="mb-4">
      <h2>Operaciones</h2>
    </div>
    <div class="d-flex justify-content-center">
      <div class="row col-6">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese un número de CUIL"
            aria-label="Ingrese un número de CUIL"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button
              type="button"
              class="btn btn-success"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              (click)="modalAdd()"
            >
              <i class="bi bi-plus-circle"></i>
              Agregar registro
            </button>
          </div>
        </div>
      </div>
    </div>

    <div>
      <p class="text-center text-muted">
        Ingrese un número de CUIL para agregar un registro.
      </p>
    </div>

    <!-- Add-Edit Operacion Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              {{ modalTitle }}
            </h5>
            <button
              type="button"
              class="close"
              data-bs-dismiss="modal"
              aria-label="Close"
              (click)="modalClose()"
              id="add-edit-modal-close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-add-edit-operacion
              [operacion]="operacion"
              *ngIf="activateAddEditOperacionComponent"
            >
            </app-add-edit-operacion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
