
  <div class="mb-3">
    <input hidden
      type="number"
      class="form-control"
      [(ngModel)]="ingreso.id"
      name="id"
      hidden 
      />
  </div>
  
  <div class="col-6 mb-3">
    <label for="idCliente" class="form-label">Id Cliente</label>
    <input
      type="number"
      class="form-control"
      [(ngModel)]="ingreso.idCliente"
      name="idCliente"
      />
  </div>

  <div class="col-6 mb-3">
    <label for="monto" class="form-label">Monto</label>
    <input
      type="number"
      class="form-control"
      [(ngModel)]="ingreso.monto"
      name="monto"
      />
  </div>

  <div class="row">
    <div class="col-6 mb-3">
      <label for="periodo" class="form-label">Período</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ingreso.fecha"
        name="fecha" 
        />
    </div>
    <div class="col-6 mb-3">
      <label for="detalle" class="form-label">Detalle</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ingreso.detalle"
        name="detalle"
        />
    </div>

    <div class="d-flex ml-auto mr-2">
      <button (click)="addIngrego()"
        class="btn btn-success"
        >
        <i class="bi bi-check2-circle"></i>
        Agregar
      </button>

    </div>








  