<div class="container-fluid card">
  <div class="m-2 p-4">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner pt-5">
            <h3>Clientes</h3>
          </div>
          <div class="icon">
            <i class="fas fa-user-plus"></i>
          </div>
          <a routerLink="/clientes" class="small-box-footer">
            Ver más <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
          <div class="inner pt-5">
            <h3>Cuenta</h3>
          </div>
          <div class="icon">
            <i class="far fa-calendar-alt"></i>
          </div>
          <a routerLink="/cuenta" class="small-box-footer">
            Ver más <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
          <div class="inner pt-5">
            <h3 class="text-light">Comprobantes</h3>
          </div>
          <div class="icon">
            <i class="fas fa-chart-pie"></i>
          </div>
          <a routerLink="/comprobantes" class="small-box-footer">
            <span class="text-light">
              Ver más <i class="fas fa-arrow-circle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner pt-5">
            <h3>Reportes</h3>
          </div>
          <div class="icon">
            <i class="fas fa-chart-pie"></i>
          </div>
          <a routerLink="/reportes" class="small-box-footer">
            Ver más <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>

    </div>

    <div class="text-center m-5 p-5">
      <img src="./assets/dist/img/AdminLTELogo.png" alt="Abonando-Logo" />
      <h1>Abonando Ando</h1>
    </div>
  </div>
</div>