<div class="container">

    
    <div id="box">
        <div id="insideBox"><a routerLink="/clientes">Clientes Prueba Clau</a></div>
        <div id="insideBox2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque asperiores voluptatibus.</div>
        <div id="insideBox"><svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg></div>
    </div>
    <div id="box">
        <div id="insideBox"><a routerLink="/operaciones">Operaciones</a></div>
        <div id="insideBox2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque asperiores voluptatibus.</div>
        <div id="insideBox"><svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg></div>
    </div>
    <div id="box">
        <div id="insideBox">Comprobantes</div>
        <div id="insideBox2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque asperiores voluptatibus.</div>
        <div id="insideBox"><svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M14 2H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V8l-6-6z"/><path d="M14 3v5h5M16 13H8M16 17H8M10 9H8"/></svg></div>
    </div>
    <div id="box">
        <div id="insideBox">Reportes</div>
        <div id="insideBox2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque asperiores voluptatibus.</div>
        <div id="insideBox"><svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M3 3v18h18"/><path d="M18.7 8l-5.1 5.2-2.8-2.7L7 14.3"/></svg></div>
    </div>
</div>